赵冬昆/第9周/机器学习.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: '123'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.34@a3a90f3034b884bb215b8770af24ecd6145cfd5b6ab97f9e40c3143cbe3ccd34
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1774625515752-source-1774625735488-target
      selected: false
      source: '1774625515752'
      sourceHandle: source
      target: '1774625735488'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774625735488-2-1774625749576-target
      source: '1774625735488'
      sourceHandle: '2'
      target: '1774625749576'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774625735488-1774625978872-1774626058118-target
      source: '1774625735488'
      sourceHandle: '1774625978872'
      target: '1774626058118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774625735488-1-1774626080001-target
      source: '1774625735488'
      sourceHandle: '1'
      target: '1774626080001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774626080001-source-1774626136657-target
      source: '1774626080001'
      sourceHandle: source
      target: '1774626136657'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: end
      id: 1774625749576-source-1774626151937-target
      source: '1774625749576'
      sourceHandle: source
      target: '1774626151937'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: end
      id: 1774626058118-source-1774626392752-target
      source: '1774626058118'
      sourceHandle: source
      target: '1774626392752'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1774626136657-source-1774626416865-target
      source: '1774626136657'
      sourceHandle: source
      target: '1774626416865'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: query
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: query
      height: 108
      id: '1774625515752'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 用户提问的是非机器学习 / 非大模型的问题
        - id: '2'
          name: 用户提问的是机器学习
        - id: '1774625978872'
          name: 用户提问的是大模型的问题
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1774625515752'
        - query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 207
      id: '1774625735488'
      position:
        x: 390
        y: 288
      positionAbsolute:
        x: 390
        y: 288
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - KTlGXHxMVWl7U903E9mlfGPcffLXuXRwWxVx0CIiGafxKQC+AszMFS5Q8Sf5aBUo
        desc: 获取机器学习答案
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector: []
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 117
      id: '1774625749576'
      position:
        x: 703
        y: 351
      positionAbsolute:
        x: 703
        y: 351
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - EA5nxfnJ43a2RP2svkPUjaW/Td9t7r9PeS/GyZiU5yf8RAY1FTQV7s6PgCF5m/bS
        desc: 获取大模型答案
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector: []
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 117
      id: '1774626058118'
      position:
        x: 654.0788129356345
        y: 549.7942991104138
      positionAbsolute:
        x: 654.0788129356345
        y: 549.7942991104138
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - KTlGXHxMVWl7U903E9mlfGPcffLXuXRwWxVx0CIiGafxKQC+AszMFS5Q8Sf5aBUo
        desc: 获取问题答案
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774625515752'
        - query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 3
        type: knowledge-retrieval
      height: 117
      id: '1774626080001'
      position:
        x: 703
        y: 200
      positionAbsolute:
        x: 703
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 029d5454-7d6e-4a4f-9723-84f07df038f5
          role: system
          text: '使用以下上下文作为你所学习的知识，放在<context></context> XML标签内。

            <context>

            {{#context#}}

            </context>

            当回答用户时：

            如果你不知道，就说你不知道。如果你不确定时不知道，寻求澄清。

            避免提及你从上下文中获取的信息。

            并根据用户问题的语言进行回答。'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1774626136657'
      position:
        x: 1004
        y: 200
      positionAbsolute:
        x: 1004
        y: 200
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774625749576'
          - result
          value_type: array[object]
          variable: return
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1774626151937'
      position:
        x: 1140
        y: 398
      positionAbsolute:
        x: 1140
        y: 398
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774626058118'
          - result
          value_type: array[object]
          variable: return
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1774626392752'
      position:
        x: 1049.381109848236
        y: 582.9280524362578
      positionAbsolute:
        x: 1049.381109848236
        y: 582.9280524362578
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1774626136657'
          - text
          value_type: string
          variable: return
        selected: false
        title: 输出 3
        type: end
      height: 87
      id: '1774626416865'
      position:
        x: 1371.3654755625325
        y: 177.2041630380236
      positionAbsolute:
        x: 1371.3654755625325
        y: 177.2041630380236
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -251.23667370962335
      y: 30.666607344070826
      zoom: 0.8478672540338147
  rag_pipeline_variables: []
